
@{
    ViewBag.Title = "Index";
}

<h2>
    <label>Coins Management</label>
    <label class="pull-right">Vending Machine Balance : <i class="fa fa-eur"></i> Testing</label>
</h2>

<hr/>
<div class="row form-group">
    <a class="btn btn-info">Withdraw Coins</a>

</div>

<div class="row">
          <a class="btn btn-info">Add Coins</a>
</div>