@model decimal
@{
    ViewBag.Title = "Index";
}

<h2>
    <label>Coins Management</label>
    <label class="pull-right">Vending Machine Balance : <i class="fa fa-eur"></i> @Model </label>
</h2>

<hr/>


    @{ Html.RenderAction("CoinStockList", "Coins", new {area = "Admin"}); }

<div class="row form-group">
    <button onclick="emptyVendingMachine()" class="btn btn-info">Withdraw Coins</button>

</div>

<div class="row">
    <a href="@Url.Action("AddCoins","Coins")" class="btn btn-info">Add Coins</a>
</div>

<script>
    function emptyVendingMachine() {
        $.ajax({
            url: '@Url.Action("EmptyVendingMachine", "Coins")',
            type: 'POST',
            success: function(data) {
                $("body").html(data);
                toastr.success("Successfully Withdrawn Money");
            }

        });
    };
        @if (TempData["NotificationMessage"] != null)
        {
            <text>
                document.addEventListener("DOMContentLoaded", function(event){

                    toastr.success('@TempData["NotificationMessage"].ToString()');
                })
            </text>
        }
</script>