
@{
    ViewBag.Title = "Index";
}

<h2>Admin Vending Machine Controls</h2>


<div>
    <a href="@Url.Action("Index", "Coins")">
        <i class="fa fa-eur fa-3x"></i>
        <label>Coins Management</label>
    </a>
</div>
<div>
    <a href="@Url.Action("Index", "Products")">
        <i class="fa fa-plus-circle fa-3x"></i>
        <label>Products Management</label>
    </a>
</div>