<div class="jumbotron">
    <h1>Virtual Vending Machine</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>As Customer</h2>
        <p>Order From Vending Machine</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "VendingMachine")">Go To Vending Machine</a></p>
    </div>
    <div class="col-md-4">
        <h2>As Admin</h2>
        <p>Add New Product/Edit Price/Add Coins</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })">Go To Admin</a></p>
    </div>
    <div class="col-md-4">
        <h2>READ ME</h2>
        <p>What could have been implemented if more time</p>
        <p><a class="btn btn-default" href="@Url.Action("ReadMe", "Home")">Go to READ ME</a></p>
    </div>
</div>
