
@{
    ViewBag.Title = "Read Me";
}

<h2>Read Me</h2>

    <h3>Missing Requirements/issues </h3>
<div class="row form-group">
    <label>Adding of Admin Control/Dashboard</label>
    <p>
        - To address Product refill management
        - To address coin shortage
    </p>
</div>
<div class="row form-group">
    <label>Insufficient change or no possible of combination of coins to give
    </label>
    <p>
        - I added a helper class to check if possible to give change with current stack of coins
    </p>
</div>

<div class="form-group row">
    <label>
        Additional/Missing Features or Improvement of the solution if necessary or requested
    </label>
    <p>
        Adding security/login features for admin
    </p>
    <p>
        Adding validation (frontend and backend) for wrong input or forced id entries (example: firstordefault instead of using first only)
    </p>
    <p>
        Better UI and Responsive/Mobile First Approach (examples: NavBar, angularUI, Material UI)
    </p>
    <p>
        Use of flexbox instead of Bootstrap (for Responsive UI)
    </p>
    <p>
        Using AngularJS instead of Asp.Net MVC
    </p>
    <p>
        Adding migration of database
    </p>
    <p>
        Better Url Routing and Naming
    </p>
</div>
<p>
    
</p>
